.profile {
    grid-row-start: 1;
    grid-row-end: 3;
}

.profile-photo {
    max-width: 100%;
    border-radius: 12px;
}

.profile-name {
    font-weight: 600;
    font-size: 24px;
}

.profile-title, .profile-link {
    text-decoration: none;
    color: #4F4F4F;
    font-weight: 500;
    font-size: 18px;
}

.icon {
    font-size: 25px;
    margin-right: 8px;
    vertical-align: middle;
}