.hobbies-container {
    grid-column: 1 / 2;
    grid-row: 5 / 9;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

h2 {
    margin: 0 0 20px 0;
}

.hobby-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.hobby-title {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.hobby-desc {
    font-size: 16px;
    font-weight: 500;
    color:#828282;
}

@media screen and (max-width: 900px) {
    .hobbies-container {
        grid-column: 2 / 3;
        grid-row: 24 / 34;
    }
}

@media screen and (max-width: 600px) {
    .hobbies-container  {
        grid-column: 1 / 2;
        grid-row: 37 / 47;
    }
}