.experience {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

h2 {
    margin: 0;
}

.experience > * + * {
    margin-bottom: 30px;
}

.exp-date {
    font-size: 14px;
    font-weight: 500;
}

.exp-title {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.exp-desc {
    font-size: 16px;
    font-weight: 500;
    color: #828282;
}

@media screen and (max-width: 900px) {
    .experience {
        grid-column: 1 / 2;
        grid-row: 24 / 30;
    }
}

@media screen and (max-width: 600px) {
    .experience {
        grid-column: 1 / 2;
        grid-row: 31 / 37;
    }
}
