.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.App > * {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
}